*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

section {
    scroll-margin-top: 80px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #1C1C1C;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container h1{
    color: #E65100;
    margin-left: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
}

.nav-items{
    display: flex;
    align-items: center;
    margin-right: 30px;
    display: flex;
    gap: 120px;
}

.nav-items a{
    color: white;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    transition: 0.3s;
   
}

.nav-items a:hover:not(.findus-btn){
    color: #E65100;
}

.findus-btn{
    display: inline-block;
    transition: 0.3s;
    background-color: #AE0000;
    padding: 15px 30px;
    border-radius: 50px;
}

.findus-btn:hover{
    background-color: #ed0101;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.677)),url("Home image.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 732px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text h1{
    margin-top: 50px;
    max-width: 814px;
    font-size: 100px;
    color: #ff5900;
    font-weight: 1000;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.banner-text p{
    color: #fffdfd;
    max-width: 680px;
    text-align: center;
    font-size: 20px;
    font-family: 'poppins', sans-serif
}

.home-btn nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.best-btn{
    display: inline-block;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    background-color: #ff4800;
    padding: 10px 120px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.best-btn:hover{
    background-color: #c93701;
}

.get-direct-btn{
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: #00000000;
    border: white solid 2px;
    padding: 10px 60px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'poppins', sans-serif;

}

.get-direct-btn:hover{
    background-color: #f3f3f345;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

#best{
    width: 100%;
    min-height: 732px;
    background-color: #0C0C0C;
}

.best-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-text h1{
    margin-top: 50px;
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 1000;
}

.text-white{
    color: white;
}

.text-orange{
    color: #FF5900;
}

.best-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
}

.item-1{
    width: 300px;
    height: 413px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
}

.image-box{
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 300px;
}

.image-box img{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.main-text-1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 50px;
    font-family: 'poppins', sans-serif;
}

.menu-name-1{
    color: #FF5900;
}

.price-1{
    color: #FF0000;
}

.descript-1{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#about{
    width: 100%;
    min-height: 732px;
    background-color: #202020;
}

.about-container{
    display:flex;
    flex-direction: row;
}

.about-image{
    display: flex;
}

.image-about img{
    width: 566px;
    height: 550px;
    border-radius:20px;
    margin-left: 150px;
    margin-top: 60px;
    object-fit: cover
}

.text-about{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-width: 500px;
}

.text-about h1{
    color: #c93701;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
}

.text-about p{
    margin-top: 10px;
    color: #858585;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
}

.vision-mission-container{
    margin-top: 50px;
}

.vision-mission{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.vision-mission h2{
    color: #fefefe;
    font-size: 32px;
    font-family: 'poppins', sans-serif;
    font-style: italic;
}

.vision-mission p{
    color: #858585;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    font-weight: lighter;
}

.motto{
    margin-top: 30px;
}

.motto h1{
    color: #ff4400;
    font-family: 'poppins', sans-serif;
    font-size: 36px;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#contact{
    width: 100%;
    min-height: 650px;
    background-color: black;
    padding: 20px;
}

.contact-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-text h1{
    margin-top: 20px;
    color: #c93701;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.contact-text p{
    margin-top: 10px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    max-width: 400px;
}

.contact-info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
    gap: px;
    max-width: 300px;
}

.contact-info i{
    margin-right: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-family: 'poppins', sans-serif;
    
}

.fname-email{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 5px;
}

.contact-form textarea {
    min-height: 100px;
    resize: horizontal;
    width: 600px;
}

.message-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.submit-btn{
    display: inline-block;
    margin-top:10px;
    padding: 10px 60px;
    border-radius: 50px;
    background-color: #c93701;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}  

.submit-btn:hover{
    background-color: #ff4400;
}

/*--------------------------------------------------------------------------------------------------------------*/

#bookatable{
    width: 100%;
    min-height: 650px;
    background-color: #0C0C0C;
    padding: 20px;
}

.bookatable-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "poppins", sans-serif;
    gap: 10px;
    margin-top: 100px;
}
.bookatable-container{
    color: #c93701;
}

.bookatable-container p{
    max-width: 500px;
    color: white;
}

.location{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'poppins', sans-serif;
    gap:10px;
}


.name-size{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submit-book-btn{
    padding: 10px 60px;
    border-radius: 50px;
    background-color: #c93701;
    color: white;
    font-weight: bold;
}


footer{
    padding:10px;
    display: flex;
    justify-content: center;
    background-color: #1C1C1C;
    color: white;
    font-family: 'poppins', sans-serif;
}
