*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    display: flex;
    gap: 100px;
    
}

header h1{
    margin-left: 40px;
    font-family: 'orbitron', sans-serif;
    color: #0088FF;
    font-weight: bold;
} 

.header-btn{
    text-decoration: none;
    color: #36454F;
    font-family: 'orbitron', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

.header-btn:hover{
    color: #0088FF;
}


.find-us-btn{
    font-family: 'orbitron', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: white;
    background-color: #0056A0;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.find-us-btn:hover{
    font-size: 24px;
    background-color: #003B6F;
}


/* FIRST SECTION - HOME */

#home{
    background-color: #0f172a;
    width: 100%;
    min-height: 732px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px
   
}

.first-text{
    max-width: 500px;
    margin-top: 50px;
    color: white;
    font-family: 'orbitron', sans-serif;
    font-weight: bolder;
    font-size: 90px;
}

.second-text{
    max-width: 500px;
    color: #0088FF;
    font-family: 'orbitron', sans-serif;
    font-weight: bolder;
    font-size: 90px;

}


.banner-text nav{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.banner-text p{
    max-width: 700px;
    color: white;
    font-family: 'orbitron', sans-serif
}

.banner-text nav a{
    margin-left: 50px;
    margin-top: 30px;
    text-decoration: none;
    font-family: 'orbitron', sans-serif;
}

.visit-us-btn{
    display: inline-block;
    font-size: 24px;
    color: white;
    background-color: #0088FF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.visit-us-btn:hover{
    font-size: 24px;
    background-color: #0056A0;
}


.view-stock-btn{
    display: inline-block;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: white solid 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.view-stock-btn:hover{
    font-size: 24px;
    background-color: rgba(128, 128, 128, 0.651);
}


.banner-img img {
    float: right;
    width: 50%; 
}

.banner-text{
    position: relative;
}

.banner-img img {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

/*second section*/
#best {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    padding: 60px 40px;
    text-align: center;
    font-family: "orbitron", sans-serif;
}


.products-header {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.p-first-text {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.p-second-text {
    color: #0088FF;
    font-size: 50px;
    font-weight: bold;
}


.products-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-showcase img {
    max-width: 1100px;
    max-width: 95%x;
    height: 400px;
}


.products-names {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.products-names h2 {
    font-weight: 400;
    font-size: 28px;
}

.products-names a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.products-names a:hover{
    color: #0088FF;
}



/*third section*/
#about{
    background-color: #0f172a;
    width: 100%;
    min-height: 100vh;
    padding: 60px 40px;
}


.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.about-image img {
    margin-left: 50px;
    width: 650px;
    border-radius: 20px;

}

.about-content {
    max-width: 600px;
}

.about-content h1 {
    font-family: 'orbitron', sans-serif;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.about-content p {
    font-family: 'orbitron', sans-serif;
    color: #94a3b8;
    line-height: 1.7;
    margin-bottom: 40px;
}

.vision-mission {
    display: flex;
    gap: 60px;
}

.mission h3,
.vision h3 {
    font-family: 'orbitron', sans-serif;
    color: #3b82f6;
    margin-bottom: 10px;
}

.mission p,
.vision p {
    font-family: 'orbitron', sans-serif;
    color: #94a3b8;
    font-size: 15px;
    max-width: 250px;
}

.motto h1{
    font-family: 'orbitron', sans-serif;
    font-size: 35px;
    color: white;
    font-style: italic;
}

/* fourth section */

#contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.395)),url("contact-bg-image.png");
    width: 100%;
    min-height: 95vh;
    padding: 80px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    width: 100%;
    max-width: 1200px;
}

.contact-info h1{
    color: white;
    font-family: 'orbitron', sans-serif;
}

.contact-info p{
    color: white;
    max-width: 500px;
    font-family: 'orbitron', sans-serif;
    padding: 10px;
    border-radius: 10px;
}


.contact-line{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact-line p{
    color: white;
    font-family: 'orbitron', sans-serif;
    padding-left: 5px;
    font-weight: bold;
}

.contact-line i{
    color: white;
}


.location{
    margin-top: 20px;
    font-family: 'orbitron', sans-serif;
    color: white;
}

.contact-form{
    margin-top: 20px;
    width: 100%;
}

.fname-email{
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 20px;
}

.fname-email input {
    width: 100%;
}

.contact-form label {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.message-form{
    width: 100%;
    margin-top: 20px;
}

.contact-form textarea {
    min-height: 140px;
    resize: vertical;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    padding: 5px;
    border: 2px solid #CCCCCC;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    background-color: #f9f9f9;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button{
    margin-top: 10px;
    padding: 15px 70px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    font-family: 'orbitron', sans-serif;
    cursor: pointer;
    background-color: #0077FF;
    color: white;
    transition: 0.3s;
}   

.contact-form button:hover{
    background-color: #0056A0;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 500px;
}

.location-map-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    color: black;
    font-family: 'orbitron', sans-serif
    
}

.location-map img{
    max-width: 450px;
}

.viewmap-btn a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'orbitron', sans-serif;
    transition: 0.3s;
    background-color: rgb(115, 0, 0);
    border-radius: 20px ;
}

.viewmap-btn h2{
    padding: 10px 30px;
    border-radius: 20px ;
    
}

.viewmap-btn a:hover{
    background-color: rgba(255, 0, 0, 0.738);
}